<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}  {% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu,wght@1,700&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal"><img src="/static/cheops.jpg" height="100px"></h5>
        <!-- <nav class="my-2 my-md-0 mr-md-3">
          <a class="active p-2 text-dark " href="{{ url_for('home')}}">Membres</a>
          <a class="p-2 text-dark" href="{{ url_for('wwn')}}">API</a>
          <a class="p-2 text-dark" href="#">Support</a>
        </nav> -->

        {% set navigation_bar = [
          ('/', 'home', 'Home'),
          ('wwn', 'api', 'API'),
          ('about', 'about', 'About')
        ] -%}
        
        
        
        <!-- <ul id="navigation">
          {% for href, id, caption in navigation_bar %}
            <li>
              <a {% if id == active_page %} class="active"{% endif %} href="{{ href|e }}">{{ caption|e }}</a>
            </li>
          {% endfor %}
        </ul> -->

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              {% for href, id, caption in navigation_bar %}
              <li class="nav-item nav-link">
                <!-- <a class="nav-link active" href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a> -->
                <a {% if id == active_page %} class="active"{% endif %}  style="color:rgba(0,0,0,.7)" href="{{ href|e }}">{{ caption|e }}</a>   <span class="slash">/</span>   
              </li>
              {% endfor %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              
            </ul>
          
        </div>
      </nav>
      </div>
     
    {% block content %}
    {% endblock %}

</body>
</html>